<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./insert'); %>
    <table border="1">
      <% for(let row of data){ %>
        <tr>
          <td><%= row.id %></td>
          <td><%= row.artifact_id %></td>
          <td><%= row.parts_id %></td>
          <td><%= row.mainop_id %></td>
          <td><%= row.substatus1 %></td>
          <td><%= row.subnum1 %></td>
          <td><%= row.substatus2 %></td>
          <td><%= row.subnum2 %></td>
          <td><%= row.substatus3 %></td>
          <td><%= row.subnum3 %></td>
          <td><%= row.substatus4 %></td>
          <td><%= row.subnum4 %></td>
        </tr>
      <% } %>
    </table>
  </body>
</html>